@import '../../Sass/GlobalVariables.module.scss';
@import '../../Sass/GlobalClasses.module.scss';

.LayoutDiv {
    background-color: map-get($colors, primary);
    min-height: 100%;
    width: 100%;
    height: 100%;
    min-width: 100%;
    position: absolute;
    z-index: -1;
}