@import '../../../Sass/GlobalFunctions.module.scss';

.Label {
   color:  f_color(secondary);
   font-weight: bold;
   margin: 5% 0;
}

.KalendarKontroll {
    display: flex;
    height: 10%;
    justify-content: space-evenly;
    background-color: f_color(third);
    padding: 1%;
    margin: 2%;
    min-width: 30%;
    

    input {
        display: flex;
        font-weight: 700;
        font-size: 1.35em;
        background-color: f_color(secondary);
        margin: 0;
        box-sizing: border-box;
        border-radius: .5em;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border: 1px solid #aaa;
        padding: .6em 1.4em .5em .8em;
    }

    .NewVacationWish {
        background-color: f_color(fifth);
        color: f_color(third);
    }
    

    input::-ms-expand {
        display: none;
    }
    input:hover {
        border-color: f_color(fifth);
    }
    input:focus {
        border-color: f_color(fourth);
    }

    label {
        text-align: start;
        color: f_color(fourth);
    

        select {
            display: flex;
            font-size: 1em;
            font-family: sans-serif;
            font-weight: 700;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            box-sizing: border-box;
            margin: 0;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                linear-gradient(to bottom, f_color(secondary) 0%,f_color(third) 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
        }
    }

    select::-ms-expand {
        display: none;
    }
    select:hover {
        border-color: f_color(fifth);
    }
    select:focus {
        border-color: f_color(fourth);
    }
    select option {
        font-weight:normal;
    }
}


.SmallKalendarKontroll {
    display: flex;
    height: 7.5%;
    justify-content: space-evenly;
    background-color: f_color(third);
    padding: 1%;
    margin: 2%;
    min-width: 80%;
    

    input {
        display: flex;
        font-weight: 700;
        font-size: 0.75em;
        background-color: f_color(secondary);
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: .5em;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
        border: 1px solid #aaa;
        padding: .6em 1.4em .5em .8em;
    }

    .NewVacationWish {
        background-color: f_color(fifth);
        color: f_color(third);
        width: 30%;
        text-align: center;
        margin-left: 5%;
        justify-self: flex-end;
        font-weight: bold;
        vertical-align: middle;
        padding-top: 1%;
        padding-left: 5%;
    }
    

    input::-ms-expand {
        display: none;
    }
    input:hover {
        border-color: f_color(fifth);
    }
    input:focus {
        border-color: f_color(fourth);
    }

    label {
        text-align: start;
        font-size: 0.9em;
        color: f_color(fourth);
        display: flex;
        
        input {
            margin-left: 10%;
        }

        select {
            display: flex;
            font-size: 0.8em;
            font-family: sans-serif;
            justify-content: center;
            flex-direction: column;
            font-weight: bolder;
            color: #444;
            line-height: 1.3;
            padding: .6em 1.4em .5em .8em;
            box-sizing: border-box;
            margin: 0;
            margin-left: 10%;
            border: 1px solid #aaa;
            box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
            border-radius: .5em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-color: #fff;
            background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
                linear-gradient(to bottom, f_color(secondary) 0%,f_color(third) 100%);
            background-repeat: no-repeat, repeat;
            background-position: right .7em top 50%, 0 0;
            background-size: .65em auto, 100%;
            vertical-align: middle;
        }
    }

    select::-ms-expand {
        display: none;
    }
    select:hover {
        border-color: f_color(fifth);
    }
    select:focus {
        border-color: f_color(fourth);
    }
    select option {
        font-weight:normal;
    }
}