@import '../../../Sass/GlobalFunctions.module.scss';

.KalendarView {
    display: flex;
    width: 98%;
    margin: 5% 5%;
    margin-top: 0.5%;
    background-color: f_color(primary);
    height: 100%;
    box-sizing: border-box;
}

.Days {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 100%;

    font-weight: bold;
    
    font-size: 0.75em;
    max-width: 100%;

    div {
        flex-basis: 14.28%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        background-color: f_color(fifth);
        padding: 5px;
        max-width: 100%;
        .Label {
            background-color: transparent;
            display: flex;
            flex-basis:15%;
            background-color: f_color(third);
            height: 100%;
            min-width: 15%;
        }
        .VacationItem {
            overflow-x: scroll;
            ::-webkit-scrollbar{
                display: hidden;
            }
            
            
            div {
                background-color: f_color(fifth);
                height: 100%;
                color: f_color(fourth);
                display: flex;
                width: auto;
            }
            div:nth-child(odd) {
                background-color: f_color(primary);
            }
            background-color: f_color(fifth);
            height: 100%;
            display:flex;
            flex-basis: 85%;
            flex-direction: row;
        }
    }
}


